*{
    box-sizing: border-box;
}

.authentication-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.authentication-form div{
    min-width: 480px;
    margin: 0.5em;
}

.authentication-form input{
    background-color: #EBEBEB;
}

.authentication-form label{
    font-weight: bold;
}

.authentication-form button{
    background-color: #6EBE59;
}

.authentication-form button:hover{
    background-color: #0a931f;
}

.authentication-form button[type="submit"]{
    width: 80%;
}

.authentication-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-toggle{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.login-toggle button{
    font-weight: bold;
    border-radius: 10%;
    border-color: transparent;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1em;
    margin: 0.1em;
    cursor: pointer;
}

.on-login-form, .on-signup-form{
    color: white;
    background-color: #0a931f;
}

.off-login-form, .off-signup-form{
    color: black;
    background-color: #EBEBEB;
}

.off-login-form:hover, .off-signup-form:hover{
    background-color: #6EBE59;
    color: white;
}

.forgot-password-btn, .back-to-login-btn{
    border: none;
    background-color: transparent;
    color: #6EBE59;
    text-decoration: underline;
    cursor: pointer;
}

.forgot-password-btn:hover, .back-to-login-btn:hover{
    color: black;
}

@media (max-width: 545px){
    .authentication-form div{
        min-width: 310px;
    }
}