/* Layout for the whole page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Start at the top */
  height: 100vh; /* Full height */
  padding-top: 20px; /* Adjust top padding if needed */
}

/* Center content on each page */
.page-content {
  width: 100%;
  max-width: 800px; /* Restrict content width */
  text-align: center;
  padding: 20px;
}

/* Navbar Styles */
nav{
  width: 80%;
}

.nav-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.nav-container .nav-links li{
  list-style-type: none;
}

.nav-links-center{
  position: absolute;
  right: 40%;
}

@media (max-width: 1080px){
  .nav-links-center{
    position: static;
  }
}

.nav-links-right, .nav-links-center{
  display: flex;
}

.nav-links-right li, .nav-links-center li{
  margin: 10px;
}

.nav-links-center li{
  border: 2em;
  border-radius: 10%;
  padding: 5px 10px 5px 10px;
  background-color: #49E761;
}

.styled-nav-link{
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  font-size: 1.5em;
}

.nav-links .brand:hover, .nav-links-right li:hover{
  color: #49E761;
}

.nav-links .brand:active, .nav-links-right li:active{
  color: #45a049;
}

.nav-links-center li:hover{
  color: #49E761;
  background-color: black;
  border-color: black;
}

.nav-links-center li:active{
  color: #45a049;
  background-color: black;
  border-color: black;
}

/* Form and page styles */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #1e40af;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #2563eb;
}
